

.gradient-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to bottom right, #0F3D5D, #D3D3D2);
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  overflow: hidden; /* impede scroll apenas aqui */
  position: relative;
}

.login-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImg {
  width: 250px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 1.5rem auto;
}

.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}


.loginBox {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  width: 100%;
  max-width: 400px;
  max-height: 100%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputGroup input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.inputGroup label {
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: #0F3D5D;
}

.inputGroup input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-bottom: 0.95rem;
}

.loginButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #0F3D5D;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.95rem;
}

.loginButton:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

/* Não está atualizando */
.titlePortal {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0F3D5D;
  text-align: center;
  margin-bottom: 0.5rem;
}

.pPortal {
  font-size: 1rem;
  color: #333;
  text-align: center;
  margin-bottom: 1.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column;
    padding: 1rem;
  }

  .login-left {
    display: none; /* Oculta o lado visual se não for necessário */
  }

  .login-right {
    width: 100%;
    justify-content: center;
  }

  .loginContainer {
    padding: 1rem;
  }

  .loginBox {
    max-width: 100%;
    padding: 1.5rem;
    box-shadow: none;
    border-radius: 8px;
  }

  .logoImg {
    max-width: 200px;
    margin: 0 auto 1rem;
  }

  .titlePortal {
    font-size: 1.25rem;
  }

  .pPortal {
    font-size: 1rem;
  }

  .loginButton {
    font-size: 1rem;
  }
}
